In [20]:
import openpyxl
import pandas as pd

pd.set_option('display.max_colwidth', None)  # None para largura ilimitada
pd.set_option('display.width', None)

def table(excelname, sheetname):
    workbook = openpyxl.load_workbook(excelname + '.xlsx', data_only=True)
    sheet = workbook[sheetname]

    dados_filtrados = []
    cabecalhos = []
    num_colunas = 11

    # Ler APENAS os 11 primeiros cabeçalhos da primeira linha
    for i in range(1, num_colunas + 1):
        cabecalho = sheet.cell(row=1, column=i).value
        cabecalhos.append(cabecalho)

    print(f"Número de cabeçalhos lidos: {len(cabecalhos)}")
    print(f"Cabeçalhos: {cabecalhos}")

    # Ler os dados a partir da segunda linha até a linha 45391 e filtrar
    for linha_num in range(2, 45392):
        linha_dados = []
        for coluna in range(1, num_colunas + 1):  # Colunas de 1 (A) a 11 (K)
            celula = sheet.cell(row=linha_num, column=coluna)
            linha_dados.append(celula.value)

        if len(linha_dados) == num_colunas:
            dados_filtrados.append(linha_dados)

    return cabecalhos, dados_filtrados

excelname = 'ROI_v2'
sheetname = 'BASE'  
cabecalhos, dados_filtrados = table(excelname, sheetname)

if dados_filtrados:
    try:
        df = pd.DataFrame(dados_filtrados, columns=cabecalhos)
        print("\nDataFrame criado com as linhas filtradas:")
        print(df)

        # Formatar colunas de venda para moeda
        colunas_venda = ['VENDAS LT', 'VENDAS VALOR R$', 'R$ INV.']
        for col in colunas_venda:
            if col in df.columns:
                # Formata para moeda com 2 casas decimais
                # Usando um formato de string mais direto
                df[col] = df[col].apply(lambda x: "{:,.2f}".format(x) if pd.notnull(x) else '')

        print("\nDataFrame com formatação de moeda nas colunas de venda:")
        print(df.head())

        # Tenta converter colunas para datetime, se aplicável
        for col in df.columns:
            try:
                df[col] = pd.to_datetime(df[col])
            except (ValueError, TypeError):
                pass 

        
        data_columns = ['PERÍODO'] 
        for col in data_columns:
            if col in df.columns:
                df[col] = df[col].dt.strftime('%d/%m/%Y') 
        print("\nDataFrame com formatação de data (se aplicável):")
        print(df)

    except ValueError as e:
        print(f"\nErro ao criar o DataFrame com os dados filtrados: {e}")
        print(f"Número de cabeçalhos: {len(cabecalhos)}")
        if dados_filtrados:
            print(f"Número de colunas na primeira linha dos dados filtrados: {len(dados_filtrados[0])}")

c:\Users\henri\anaconda3\lib\site-packages\openpyxl\reader\excel.py:228: UserWarning: Slicer List extension is not supported and will be removed
  ws_parser.bind_all()

Número de cabeçalhos lidos: 11
Cabeçalhos: ['UF/ÁREA', 'FAMÍLIA', 'PERÍODO', 'VENDAS LT', 'VENDAS VALOR R$', 'SHARE VOLUME', 'SHARE VALOR', 'DISTRIBUIÇÃO NUMÉRICA', 'R$ INV.', 'SEGMENTO', 'ANO MÓVEL']

DataFrame criado com as linhas filtradas:
      UF/ÁREA     FAMÍLIA    PERÍODO    VENDAS LT  VENDAS VALOR R$  \
0          AL      AMSTEL 2018-01-01  139432.7265     1.460088e+06
1          AL      AMSTEL 2018-02-01   78649.5055     1.448213e+06
2          AL      AMSTEL 2018-03-01   82657.5689     1.614080e+06
3          AL      AMSTEL 2018-04-01  127809.4865     1.455399e+06
4          AL      AMSTEL 2018-05-01   88741.5835     1.243698e+06
...       ...         ...        ...          ...              ...
45385   T. BR      SPATEN 2025-01-01  142210.4879     8.401553e+05
45386   T. BR  T. CERVEJA 2024-12-01  102025.7758     1.658170e+06
45387   T. BR  T. CERVEJA 2025-01-01   75669.9097     1.488175e+06
45388   T. BR       TIGER 2024-12-01  106943.3810     1.154596e+06
45389   T. BR       TIGER 2025-01-01   66101.9790     1.456038e+06

       SHARE VOLUME  SHARE VALOR  DISTRIBUIÇÃO NUMÉRICA      R$ INV.  \
0          0.001710     0.001556                     60   53653.1821
1          0.001593     0.001512                     47  245058.9487
2          0.000054     0.000055                     16  246369.1176
3          0.000090     0.000082                      7  486846.3017
4          0.000001     0.000002                     24  424214.4788
...             ...          ...                    ...          ...
45385      0.024051     0.029396                     87  258813.5994
45386      1.000000     1.000000                     54  490856.8340
45387      1.000000     1.000000                     87  272138.8006
45388      0.000247     0.000193                     52   85812.6380
45389      0.000270     0.000189                     14  403387.0667

         SEGMENTO ANO MÓVEL
0      MAINSTREAM         0
1      MAINSTREAM    MOV'19
2      MAINSTREAM    MOV'19
3      MAINSTREAM    MOV'19
4      MAINSTREAM    MOV'19
...           ...       ...
45385     PREMIUM    MOV'25
45386  T. CERVEJA    MOV'25
45387  T. CERVEJA    MOV'25
45388     PREMIUM    MOV'25
45389     PREMIUM    MOV'25

[45390 rows x 11 columns]

DataFrame com formatação de moeda nas colunas de venda:
  UF/ÁREA FAMÍLIA    PERÍODO   VENDAS LT VENDAS VALOR R$  SHARE VOLUME  \
0      AL  AMSTEL 2018-01-01  139,432.73    1,460,088.01      0.001710
1      AL  AMSTEL 2018-02-01   78,649.51    1,448,212.95      0.001593
2      AL  AMSTEL 2018-03-01   82,657.57    1,614,079.91      0.000054
3      AL  AMSTEL 2018-04-01  127,809.49    1,455,398.53      0.000090
4      AL  AMSTEL 2018-05-01   88,741.58    1,243,697.54      0.000001

   SHARE VALOR  DISTRIBUIÇÃO NUMÉRICA     R$ INV.    SEGMENTO ANO MÓVEL
0     0.001556                     60   53,653.18  MAINSTREAM         0
1     0.001512                     47  245,058.95  MAINSTREAM    MOV'19
2     0.000055                     16  246,369.12  MAINSTREAM    MOV'19
3     0.000082                      7  486,846.30  MAINSTREAM    MOV'19
4     0.000002                     24  424,214.48  MAINSTREAM    MOV'19

DataFrame com formatação de data (se aplicável):
      UF/ÁREA     FAMÍLIA     PERÍODO   VENDAS LT VENDAS VALOR R$  \
0          AL      AMSTEL  01/01/2018  139,432.73    1,460,088.01
1          AL      AMSTEL  01/02/2018   78,649.51    1,448,212.95
2          AL      AMSTEL  01/03/2018   82,657.57    1,614,079.91
3          AL      AMSTEL  01/04/2018  127,809.49    1,455,398.53
4          AL      AMSTEL  01/05/2018   88,741.58    1,243,697.54
...       ...         ...         ...         ...             ...
45385   T. BR      SPATEN  01/01/2025  142,210.49      840,155.27
45386   T. BR  T. CERVEJA  01/12/2024  102,025.78    1,658,170.32
45387   T. BR  T. CERVEJA  01/01/2025   75,669.91    1,488,174.67
45388   T. BR       TIGER  01/12/2024  106,943.38    1,154,595.78
45389   T. BR       TIGER  01/01/2025   66,101.98    1,456,038.40

                       SHARE VOLUME                   SHARE VALOR  \
0     1970-01-01 00:00:00.000000000 1970-01-01 00:00:00.000000000
1     1970-01-01 00:00:00.000000000 1970-01-01 00:00:00.000000000
2     1970-01-01 00:00:00.000000000 1970-01-01 00:00:00.000000000
3     1970-01-01 00:00:00.000000000 1970-01-01 00:00:00.000000000
4     1970-01-01 00:00:00.000000000 1970-01-01 00:00:00.000000000
...                             ...                           ...
45385 1970-01-01 00:00:00.000000000 1970-01-01 00:00:00.000000000
45386 1970-01-01 00:00:00.000000001 1970-01-01 00:00:00.000000001
45387 1970-01-01 00:00:00.000000001 1970-01-01 00:00:00.000000001
45388 1970-01-01 00:00:00.000000000 1970-01-01 00:00:00.000000000
45389 1970-01-01 00:00:00.000000000 1970-01-01 00:00:00.000000000

              DISTRIBUIÇÃO NUMÉRICA     R$ INV.    SEGMENTO ANO MÓVEL
0     1970-01-01 00:00:00.000000060   53,653.18  MAINSTREAM         0
1     1970-01-01 00:00:00.000000047  245,058.95  MAINSTREAM    MOV'19
2     1970-01-01 00:00:00.000000016  246,369.12  MAINSTREAM    MOV'19
3     1970-01-01 00:00:00.000000007  486,846.30  MAINSTREAM    MOV'19
4     1970-01-01 00:00:00.000000024  424,214.48  MAINSTREAM    MOV'19
...                             ...         ...         ...       ...
45385 1970-01-01 00:00:00.000000087  258,813.60     PREMIUM    MOV'25
45386 1970-01-01 00:00:00.000000054  490,856.83  T. CERVEJA    MOV'25
45387 1970-01-01 00:00:00.000000087  272,138.80  T. CERVEJA    MOV'25
45388 1970-01-01 00:00:00.000000052   85,812.64     PREMIUM    MOV'25
45389 1970-01-01 00:00:00.000000014  403,387.07     PREMIUM    MOV'25

[45390 rows x 11 columns]